{#if success}
<div class="pf-c-alert pf-m-success">{success}</div>
{/if}
{#if error}
<div class="pf-c-alert pf-m-danger">{error}</div>
{/if}

<form method="post" action="/admin/console/settings">
    <input type="hidden" name="csrf_token" value="{csrfToken}">

    <p>{i18n.get('server.settings.intro')}</p>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label pf-c-form__label--with-hint" for="oauth_session_cookie_name">
            <span>{i18n.get('server.settings.oauthSessionCookieName')} *</span>
            {#include admin/console/field-hint text=i18n.get('hint.server.oauthSessionCookieName') /}
        </label>
        <input class="pf-c-form-control" type="text" id="oauth_session_cookie_name" name="oauth_session_cookie_name"
               value="{settings.oauthSessionCookieName}" required pattern="[A-Za-z0-9_-]+">
    </div>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label pf-c-form__label--with-hint" for="oauth_session_lifetime_seconds">
            <span>{i18n.get('server.settings.oauthSessionLifetime')} *</span>
            {#include admin/console/field-hint text=i18n.get('hint.server.oauthSessionLifetime') /}
        </label>
        <input class="pf-c-form-control" type="number" id="oauth_session_lifetime_seconds" name="oauth_session_lifetime_seconds"
               value="{settings.oauthSessionLifetimeSeconds}" min="1" required>
    </div>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label pf-c-form__label--with-hint" for="default_access_token_lifetime_seconds">
            <span>{i18n.get('server.settings.defaultAccessTokenLifetime')} *</span>
            {#include admin/console/field-hint text=i18n.get('hint.server.defaultAccessTokenLifetime') /}
        </label>
        <input class="pf-c-form-control" type="number" id="default_access_token_lifetime_seconds"
               name="default_access_token_lifetime_seconds" value="{settings.defaultAccessTokenLifetimeSeconds}" min="1" required>
    </div>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label pf-c-form__label--with-hint" for="default_refresh_token_lifetime_seconds">
            <span>{i18n.get('server.settings.defaultRefreshTokenLifetime')} *</span>
            {#include admin/console/field-hint text=i18n.get('hint.server.defaultRefreshTokenLifetime') /}
        </label>
        <input class="pf-c-form-control" type="number" id="default_refresh_token_lifetime_seconds"
               name="default_refresh_token_lifetime_seconds" value="{settings.defaultRefreshTokenLifetimeSeconds}" min="1" required>
    </div>

    <div class="pf-c-form__group pf-c-checkbox">
        <label class="pf-c-form__label--with-hint">
            <input type="checkbox" name="session_cookie_secure" {#if settings.sessionCookieSecure}checked{/if}>
            <span>{i18n.get('server.settings.secureCookieFlag')}</span>
            {#include admin/console/field-hint text=i18n.get('hint.server.secureCookieFlag') /}
        </label>
    </div>

    <button class="pf-c-button pf-m-primary" type="submit">{i18n.get('common.save')}</button>
</form>
