{#if success}
<div class="pf-c-alert pf-m-success">{success}</div>
{/if}
{#if error}
<div class="pf-c-alert pf-m-danger">{error}</div>
{/if}

<form method="post" action="/admin/console/settings">
    <input type="hidden" name="csrf_token" value="{csrfToken}">

    <p>{i18n.get('server.settings.intro')}</p>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="oauth_session_cookie_name">{i18n.get('server.settings.oauthSessionCookieName')} *</label>
        <input class="pf-c-form-control" type="text" id="oauth_session_cookie_name" name="oauth_session_cookie_name"
               value="{settings.oauthSessionCookieName}" required pattern="[A-Za-z0-9_-]+">
        <div class="pf-c-form__helper">{i18n.get('server.settings.oauthSessionCookieNameHelper')}</div>
    </div>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="oauth_session_lifetime_seconds">{i18n.get('server.settings.oauthSessionLifetime')} *</label>
        <input class="pf-c-form-control" type="number" id="oauth_session_lifetime_seconds" name="oauth_session_lifetime_seconds"
               value="{settings.oauthSessionLifetimeSeconds}" min="1" required>
    </div>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="default_access_token_lifetime_seconds">{i18n.get('server.settings.defaultAccessTokenLifetime')} *</label>
        <input class="pf-c-form-control" type="number" id="default_access_token_lifetime_seconds"
               name="default_access_token_lifetime_seconds" value="{settings.defaultAccessTokenLifetimeSeconds}" min="1" required>
    </div>

    <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="default_refresh_token_lifetime_seconds">{i18n.get('server.settings.defaultRefreshTokenLifetime')} *</label>
        <input class="pf-c-form-control" type="number" id="default_refresh_token_lifetime_seconds"
               name="default_refresh_token_lifetime_seconds" value="{settings.defaultRefreshTokenLifetimeSeconds}" min="1" required>
    </div>

    <div class="pf-c-form__group pf-c-checkbox">
        <label><input type="checkbox" name="session_cookie_secure" {#if settings.sessionCookieSecure}checked{/if}> {i18n.get('server.settings.secureCookieFlag')}</label>
        <div class="pf-c-form__helper">{i18n.get('server.settings.secureCookieHelper')}</div>
    </div>

    <button class="pf-c-button pf-m-primary" type="submit">{i18n.get('common.save')}</button>
</form>
